/* Main styles */

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  background-color: #f7f0f6;
  height: 100vh;
  color: #333;
  text-align: justify;

  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

header {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #312828;
  opacity: 0.8;
}

.about_me-text {
  line-height: 1.6;
  text-indent: 1.5rem;
}

.about_me img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

/* Layout */

main {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.about_me,
.menu_box,
.skill_box,
.skills_list {
  display: flex;
  align-self: stretch;
  justify-content: center;
}

.about_me {
  gap: 60px;
}

.menu_box {
  align-self: stretch;
  align-items: baseline;
  justify-content: space-evenly;
}

.skills_list {
  list-style: none;
  gap: 15px;
}

.skills_list img {
  width: 70%;
  filter: grayscale(100%) contrast(130%);
}

.content .about_me-text {
  max-width: 700px;
}

.project_box p {
  margin-bottom: 15px;
}

.project_list li:not(:last-child) {
  margin-bottom: 8px;
}

.project_list a {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}

.project_list a:hover,
.project_list a:active {
  color: #c75b7a;
}

footer {
  justify-self: center;
}

footer span {
  color: rgb(226, 30, 30);
}

/* For javascript */
.hire_container {
  display: none;
}

#hire_btn {
  border: none;
  background-color: #f7f0f6;
  color: #333;
  font-weight: bold;
  text-decoration: underline;
  transition: color0.5s;
}

#hire_btn:hover {
  color: #c75b7a;
}
