/* Main styles */

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  background-color: #f7f0f6;
  height: 100vh;
  color: #333;
  text-align: justify;

  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

header {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #312828;
  opacity: 0.8;
}

.about_me-text {
  line-height: 1.6;
  text-indent: 1.5rem;
}

.about_me img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

/* Layout */

main {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  position: relative; /*for hire contact container*/
}

.about_me,
.menu_box,
.skill_box,
.skills_list {
  display: flex;
  align-self: stretch;
  justify-content: center;
}

.about_me {
  gap: 60px;
}

.menu_box {
  align-self: stretch;
  align-items: baseline;
  justify-content: space-evenly;
}

.skills_list {
  list-style: none;
  gap: 15px;
}

.skills_list img {
  width: 70%;
  filter: grayscale(100%) contrast(130%);
}

.content .about_me-text {
  max-width: 700px;
}

.project_box p {
  margin-bottom: 15px;
}

.project_list li:not(:last-child) {
  margin-bottom: 8px;
}

.project_list a {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}

.project_list a:hover,
.project_list a:active {
  color: #c75b7a;
}

footer {
  justify-self: center;
}

footer span {
  color: rgb(226, 30, 30);
}

.hire_container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.hire_container a {
  color: #333;
  transition: color 0.3s;
}

.hire_container a:hover,
.hire_container a:active {
  color: #c75b7a;
}

.contact_links {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

.hire_container p {
  margin-bottom: 20px;
}

.contact_links img {
  width: 40px;
}

#hire_btn {
  border: none;
  background-color: #f7f0f6;
  color: #333;
  font-weight: bold;
  text-decoration: underline;
  transition: color0.5s;
}

#hire_btn:hover {
  color: #c75b7a;
}

/* For javascript */

#hire_container_hidden {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  cursor: pointer;
  visibility: hidden;
}

#close_btn::before {
  content: "X";
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 90%;
  width: 30px;
}

/* For small screen */

@media screen and (max-width: 55em) {
  body {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 46em) {
  main {
    margin-bottom: 30px;
  }
  .about_me,
  .menu_box,
  .skill_box {
    flex-direction: column;
  }

  .menu_box {
    gap: 30px;
  }
  .skill_box {
    align-items: center;
    gap: 20px;
  }

  .skills_list {
    justify-content: space-evenly;
    padding: 0;
  }

  .about_me img {
    order: -1;
    align-self: center;
  }

  .hire_container {
    height: 500px;
  }

  #close_btn::before {
    left: 85%;
  }
}
